.view-post-box{
  margin-top: 15%;
  margin-bottom: 10%;
  padding-top: 3%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5%;
}

.view-post-image{
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
}

.view-post-image{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}

.view-post-carInfo-name, .view-post-carInfo-price, .view-post-carInfo-commission{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 3%;
}

.view-post-carInfo-name{
  font-size: 6vw;
}

.view-post-carInfo-price, .view-post-carInfo-commission{
  font-size: 5vw;
}

.view-post-info{
  list-style: none;
  font-size:  3vw;
  padding-left: 10%;
}

.view-post-text-box{
  border: 0.5px solid black;
  width: 85%;
  padding-left: 1%;
}

.view-post-text-box.description, .view-post-text-box.terms-cond{
  max-height: 6rem;
  overflow-y: scroll;
}

.view-post-contact-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-size: 2vw;
  width: 30%;
  height: 5vw;
}

.view-post-user-email{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  text-align: center;
  font-size: 2vw;
  width: 40%;
  border: 1px solid black;
}

@media screen and (min-width: 1000px) {

  .view-post-box{
    margin-top: 9%;
  }

  .view-post-carInfo-name{
    margin-top: 0;
    font-size: 45px;
  }
  .view-post-carInfo-price, .view-post-carInfo-commission{
    font-size: 40px;
  }  

.view-post-info{
  list-style: none;
  font-size:  25px;
 } 
}
