.auth-boxes > *{
  box-sizing: border-box;
}

.auth-boxes > div{
  height: 35vw;
  background-color: #EAEDEC;
  border: #999090 solid 2px;
}
  
.auth-boxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45vw;
  width: 100%;
}
  
.Login-register-admin{
  font-size: 2vw;
  text-align: left;
  width: 50%;
}

.additional-info{
  width: 25%;
}
  
.Login-register-admin > p{
 font-size: 2vw;
 text-align: center;
 line-height: normal;
 margin: auto;
}

.mini-login-header{
 text-align: center;
 margin-top: 2%;
 margin-bottom: 0;
}

.mini-login-label, .mini-login-input{
 display: block;
 margin-right: auto;
 margin-left: auto;
 width: 60%;
 margin-bottom: 1%;
 background-color: 999090;
}
  
.mini-login-label{
  font-size: 1.7vw;
}

.mini-login-input{
  font-size: 1.7vw;
}

.mini-login-submit{
  height: 4vw;
  width: 20%;
  text-align: center;
  font-size: 1.4vw;
  padding: 0;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10%;
  border: #999090 solid 1px;
  background-color: white;
}

.mini-login-submit:hover{
  background-color: #999090;
  transition: 0.3s;
}

.mini-login-submit:active{
  border-top: grey solid 2px;
  background-color: #999090;
  padding-top: 0.5%;
}

.mini-login-register-heading{
  font-size: 5vw;
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
}

.mini-login-link{
  display: block;
  color: blue;
}

.mini-login-link:hover{
  text-decoration: underline;
}

.additional-info{
    padding: 2%;
}
  
.additional-info > p{
     font-size: 1.7vw;
     text-align: center;
}

.auth-box-break{
  display: block;
  margin-top: 1%;
  padding: 0;
}
.mini-login-admin{
  padding-top: 1vw;
}

.github, .linkedIn{
  width: 30%;
  margin: 10%;
}

.image-link-container{
  text-align: center;
  width: 100%;
  display: block;
}

.portfolio-link{
  font-weight: bold;
  color: blue;
  margin-top: 1rem;
  margin-bottom: 0;
}

.portfolio-link:hover{
  text-decoration: underline;
}

/*for demo purposes only*/
.demo > h1{
  font-size: 3vw;
  margin: 0;
}

.demo-break{
  display: block;
}

.demo{
  width: 80%;
  border: solid black 1px;
  top: 4%;
  right: 2%;
  background-color:  #EAEDEC;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vw;
  line-height: 4vw;
  margin-bottom: 8%;
}

ol{
  text-align: left;
  margin-left: 10%;
}
