.auth-boxes > *{
  box-sizing: border-box;
}

.auth-boxes > div{
 width: 45%;
 height: 35vw;
 background-color: white;
 border: solid black 1px;
}
  
.auth-boxes{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}
  
.Login-register-admin{
 font-size: 2vw;
 text-align: left;
}
  
.Login-register-admin > p{
 font-size: 2vw;
 text-align: center;
 line-height: normal;
 margin: 0;
}

.mini-login-header{
 text-align: center;
 margin-top: 2%;
 margin-bottom: 0;
}

.mini-login-label, .mini-login-input{
 display: block;
 margin-right: auto;
 margin-left: auto;
 width: 70%;
 height: 2vw;
 margin-bottom: 1%;
}
  
.mini-login-label{
  font-size: 1.7vw;
}

.mini-login-input{
  font-size: 1.7vw;
}

.mini-login-submit{
 height: 3vw;
 width: 20%;
 text-align: center;
 font-size: 1.4vw;
 padding: 0;
 margin-top: 3%;
 margin-bottom: 5%;
 margin-left: auto;
 margin-right: auto;
 display: block;
}

.additional-info{
    padding: 2%;
}
  
.additional-info > p{
     font-size: 2.2vw;
     text-align: center;
}

.auth-box-break{
  display: block;
  margin-top: 1%;
  padding: 0;
}

.mini-login-admin{
  padding-top: 1vw;
}