@import url('https://fonts.googleapis.com/css?family=Roboto&display=swa');

* {
  box-sizing: border-box;
 }
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Utils//myusecarsalesman_pics/car-fade2_4.png');
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  position: relative;
}

*{
  font-family: 'Roboto', sans-serif;
}