.edit-post-heading{
    margin-top: 11%;
    font-size: 4vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.edit-post-form{
    border: 1px solid  black;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding-bottom: 2%;
    position: relative;
}

.edit-post-input-box{
    width: 90%;
    padding: 0;
    min-height: 200px;
    max-height: 950px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10%;
    position: relative;
}


.edit-post-right, .edit-post-left{
    width: 50%;
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.edit-post-label, .edit-post-input, textarea{
    font-size: 2vw;
    position: relative;
    top: 30px;
    left: 5%;
    display: block;
    width: 50%;
}

.edit-post-label{
    width: 100%;
}

.edit-post-input{
    margin-bottom: 3%;
}

 .edit-post-description{
    height: 23vw;
    width: 85%;
 }

 .edit-post-commission{
    width: 80%;
}

 .edit-post-terms-and-cond{
    width: 85%;
    height: 20vw;
 }

.edit-post-img{
    margin-top: 3%;
    width: 80%;
    font-size: 2vw;
 }

 .edit-post-submit{
    display: block;
    height: 5vw;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}

.edit-post-error, .edit-post-buffer{
    color: red;
    display: block;
    margin-bottom: 1%;
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 3vw;
}

